body {
  padding: 20px;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.break {
  word-wrap:break-word;
  word-break:break-all;
}
.table {
  table-layout:fixed;
}