/*body {
  padding: 20px;
}*/
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.break {
  word-wrap:break-word;
  word-break:break-all;
}
.table {
  table-layout:fixed;
}
.west, .east {
  position: absolute;
  top: 0;
  bottom: 0;
  /*padding: 20px;*/
  /*overflow-y: auto;*/
}
.sidebar {
  width: 360px;
}
.tabbable {
  left: 400px;
}
.keys {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 150px;
  overflow-y: auto;
}