<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Redis Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- <script type="text/javascript" src="js/jquery.js"></script> -->
    <!-- <script type="text/javascript" src="js/main.js"></script> -->
    <!-- <script src="js/zepto.min.js"></script> -->
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <!-- <script type="text/javascript"> -->
    <!--         function Ctrl($scope) { -->
    <!--         $scope.name = 'Angular'; -->
    <!--         $scope.html = 'Hello {{name}}'; -->
    <!--       } -->
    <!-- </script> -->

  </head>
  <body>
    {{version}}
    <div ng-controller="KeysCtrl">
      {{version}}
      {{cmd}}
      <ul>
        <li ng-repeat="key in keys" ng-click="show(key)">
	  {{key}}
	  <!-- {{key.hash}} -->
	  <!-- {{key.type}} -->
	</li>
      </ul>
    </div>

    <div ng-controller="CmdCtrl">
      <input type="text" name="command" ng-model="cmd_str"/>
      <br />
      <button class="btn btn-primary" ng-click="send_command(cmd_str)">
	go!
      </button>
      <hr />
      <pre>
	{{reply}}
      </pre>
    </div>

  </body>
</html>
